---
import generateGithubRepoCard from './githubRepoCardGenerator.ts';
import fetchGithubRepoData from './fetchGithubRepoData.ts';

const username = 'anuraghazra';
const repoName = 'github-readme-stats';

let repoCardHtml = '';
let errorMessage = '';

try {
  // 会自动使用缓存和令牌
  const repoData = await fetchGithubRepoData(username, repoName);
  repoCardHtml = generateGithubRepoCard(repoData);
} catch (err) {
  errorMessage = (err as Error).message;
}
---

<div class="container mx-auto p-4">
  {errorMessage ? (
    <p class="text-red-500">{errorMessage}</p>
  ) : (
    <div set:html={repoCardHtml} />
  )}
</div>