---
import LinkButton from "./LinkButton.astro";
import Socials from "./Socials.astro";
import { SITE } from "../config";
import FilingIcon from "@/assets/images/filing-icon.png";

const currentYear = new Date().getFullYear();

const author = SITE.author;

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;
---

<footer
  class:list={[
    "relative z-10 w-full px-0 pb-4 transition-all duration-300 sm:px-4",
    { "mt-auto": !noMarginTop },
  ]}
>
  <div class="content-card rounded-none p-4 sm:mb-4 sm:rounded-lg">
    <!-- 社交链接 -->
    <div class="mb-4 flex justify-center">
      <Socials centered />
    </div>

    <div class="flex flex-col justify-center space-y-1 text-center">
      <div
        class="flex flex-col items-center justify-center gap-1 md:flex-row md:gap-2"
      >
        <div class="text-muted-foreground flex items-center">
          <img
            src={FilingIcon.src}
            alt="Filing Icon"
            style="width: 16px"
            class="mr-1 inline-block"
          />
          <a
            class="underline decoration-dashed underline-offset-4 hover:text-accent"
            href="https://beian.mps.gov.cn/#/query/webSearch?code=42082102000235"
            rel="noreferrer"
            target="_blank">鄂公网安备42082102000235号</a
          >
        </div>
        <span class="hidden md:inline">&nbsp;|&nbsp;</span>
        <div>
          <LinkButton
            class="underline decoration-dashed underline-offset-4 hover:text-accent"
            href="https://beian.miit.gov.cn/"
          >
            鄂ICP备2025143996号
          </LinkButton>
        </div>
      </div>
      <div
        class="flex flex-col items-center justify-center gap-1 md:flex-row md:gap-2"
      >
        <div>
          由 <img
              src="https://astro.build/favicon.svg"
              alt="Filing Icon"
              style="width: 16px"
              class="inline-block"
            />
          <LinkButton
            class="flex items-center underline decoration-dashed underline-offset-4 hover:text-accent"
            href="https://astro.build"
          >
            Astro
          </LinkButton> 和 <LinkButton
            class="underline decoration-dashed underline-offset-4 hover:text-accent"
            href="https://github.com/hazuki-keatsu/aero-paper"
          >
            AeroPaper {SITE.version ? `v${SITE.version}` : ""}
          </LinkButton>
          强力驱动
        </div>
        <span class="hidden md:inline">&nbsp;|&nbsp;</span>
        <div>
          文章基于 <LinkButton
            class="underline decoration-dashed underline-offset-4 hover:text-accent"
            href="https://creativecommons.org/licenses/by-nc/4.0/"
          >
            CC BY-NC
          </LinkButton> 协议发布
        </div>
      </div>
      <div
        class="flex flex-col items-center justify-center gap-1 md:flex-row md:gap-2"
      >
        <div class="text-muted-foreground">
          Copyright &#169; {SITE.setupTime.substring(0, 4)} - {currentYear}
          {author}
        </div>
      </div>
    </div>
  </div>
</footer>
